doctype
html
    head
        title MongoDb MUD - Reset Password
        link(rel="stylesheet", href="/css/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/mdbMUD.css")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    body
        .container
            form.form-signin(action="/resetPassword", method="POST")
                h2.form-signin-heading Reset Password
                label.sr-only(for="newPassword") New Password
                input.form-control(type="text", id="newPassword", name="newPassword", placeholder="New Password" required autofocus)
                label.sr-only(for="verifyPassword") Verify Password
                input.form-control(type="text", id="verifyPassword", name="verifyPassword", placeholder="Verify Password" required)
                input.form-control(type="hidden", id="user", name="user", value='#{userId}')
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Reset

