doctype
html
    head
        title MongoDb MUD - Reset Password Confirmation
        link(rel="stylesheet", href="css/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/mdbMUD.css")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    body
        .container
            h1 Password Reset
            br
            if resetSuccess == true
                p An email has been sent to your address with instructions on how to change your password.
                br
                p
                    a(href="/login") Login
            else
                p No account was found for the email address specified.  Please check and try again.



